@charset "UTF-8";
:root {
  /* Шрифты*/
  --font-family-logo: Raleway, sans-serif;
  --font-family-text: Roboto, sans-serif;
  /* Цвет текста */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --accent-white-color: #FFFFFF;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --logo-text: #000000;
  /* Цвет фона */
  --primary-bgr-color: #2F303A;
  --secondary-bgr-color: #F5F4FA;
  --other-bgr-color: #E5E5E5;
  --bgr-color-projects: #EEEEEE;
  --color-button-hover: #188CE8;
  --line-color: #ECECEC;
  /* Карточки */
  --card-set-gap: 30px;
  /* Border */
  --border-icon: #AFB1B8;
  --border-modal: 1px solid rgba(33, 33, 33, 0.2);
  /* Иконки */
  --fill-icon: #AFB1B8;
  --fill-hover-color: #FFFFFF;
  --fill-bgr-hover: #2196F3;
  /* Анимация */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* скрыть текст */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  color: var(--title-text-color);
  background-color: var(--accent-white-color);
  font-family: var(--font-family-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list,
.title,
.text {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link,
.list {
  text-decoration: none;
}

.navigation__logo {
  color: var(--accent-color);
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.navigation__logo--top {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation__logo--header {
  color: var(--logo-text);
}

.navigation__logo--footer {
  color: var(--accent-white-color);
}

/* Header */
.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--accent-white-color);
  border-bottom: 1px solid var(--line-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Логотип */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__link.current {
  color: var(--accent-color);
}

.navigation__link--header-current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* Контакты*/
.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Герой*/
.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-bgr-color);
  text-align: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__desk.jpg);
    padding: 200px 0;
    height: 600px;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero__desk@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero__desk@2x.jpg);
  }
}

.hero__container {
  width: 100%;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--accent-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    margin: 0 auto 30px;
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

/* button */
.hero__button {
  min-width: 200px;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--accent-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--color-button-hover);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: auto;
  background-color: var(--accent-white-color);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--accent-white-color);
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
}

.modal__close-icon {
  fill: currentColor;
}

/* Формa */
.modal-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form__label {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
}

.form__container {
  position: relative;
  display: block;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  color: var(--primary-text-color);
  border: var(--border-modal);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: border-color var(--transition-duration) var(--transition-timing-function);
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form__field:hover .form__input,
.form__field:focus-within .form__input {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--primary-text-color);
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form__field:hover .form__icon,
.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: var(--border-modal);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

.form__comment:hover, .form__comment:focus-within {
  border-color: var(--accent-color);
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */
.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  position: absolute;
}

.checkbox__icon {
  fill: var(--fill-hover-color);
  margin-right: 8px;
  border: 2px solid var(--primary-bgr-color);
  border-radius: 4px;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: var(--fill-bgr-hover);
  background-color: var(--fill-bgr-hover);
  fill: var(--fill-hover-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__input:hover ~ .checkbox__icon,
.checkbox__input:focus ~ .checkbox__icon {
  border-color: var(--fill-bgr-hover);
}

.checkbox__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.17;
  color: var(--title-text-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Form__button */
.form__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin: auto;
  cursor: pointer;
  color: var(--accent-white-color);
  background-color: var(--accent-color);
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.form__button:hover, .form__button:focus {
  background-color: var(--color-button-hover);
}

/* Особенности компании */
.feature__caption {
  color: var(--primary-text-color);
}

.feature__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc(100% / 4 - 30px);
  }
}

.feature__list .feature__text {
  color: var(--title-text-color);
  line-height: 1.71;
}

.feature__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: var(--secondary-bgr-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .feature__icon {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__icon {
    padding: 25px 100px;
  }
}

/* Чем мы занимаемся*/
.work {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__title,
.team__caption {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  width: 100%;
  height: 70px;
  margin: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: var(--accent-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team {
  background-color: var(--secondary-bgr-color);
}

.team__caption {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__caption {
    margin-bottom: 50px;
  }
}

.team__list {
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: calc(100% /2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item--img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item--img {
    width: 270px;
    height: 260px;
  }
}

.team-members {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--accent-white-color);
}

@media screen and (max-width: 1199px) {
  .team-members {
    height: 162px;
  }
}

@media screen and (min-width: 1200px) {
  .team-members {
    padding: 30px 0;
    height: 168px;
  }
}

.team-members__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-members__text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-members__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-members__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--fill-icon);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function);
}

.team-members__link:hover, .team-members__link:focus {
  background-color: var(--fill-bgr-hover);
  color: var(--fill-hover-color);
}

.team-members__icon {
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* Постоянные клиенты */
.client__title {
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: -15px;
}

.client__item {
  margin: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .client__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--fill-icon);
  border: 1px solid var(--border-icon);
  border-radius: 4px;
  width: calc(100%/2 -30px);
  height: 92px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), border var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.client__link:hover, .client__link:focus {
  color: var(--fill-bgr-hover);
  border: 1px solid var(--fill-bgr-hover);
}

.client__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--transition-timing-function);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* Футер */
.footer {
  padding: 60px 0;
  background-color: var(--primary-bgr-color);
}

.footer__container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__address {
  margin-top: 20px;
}

.address-list {
  font-style: normal;
  list-style: none;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.71;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-list__link {
  color: var(--accent-white-color);
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__list {
  color: var(--footer-contacts-color);
  text-decoration: none;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__list:hover, .address-list__list:focus {
  color: var(--accent-color);
}

/* Socials-icon */
.footer__socials {
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .footer__socials {
    text-align: center;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-right: 93px;
  }
}

.footer__socials--title {
  font-weight: 700;
  color: var(--accent-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .socials {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--fill-bgr-hover);
}

.socials__icon {
  fill: var(--fill-hover-color);
}

/* Footer form */
@media screen and (max-width: 1199px) {
  .footer__section {
    text-align: center;
  }
}

.footer__section--title {
  font-weight: 700;
  line-height: 1.14;
  color: var(--accent-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin: 0;
    padding: 0; */
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  height: 50px;
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-white-color);
  background-color: var(--primary-bgr-color);
  cursor: pointer;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border var(--transition-duration) var(--transition-timing-function);
  transition: border var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.footer-form__input:hover, .footer-form__input:focus {
  border-color: var(--color-button-hover);
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--accent-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  -webkit-transition: background-color var(--transition-duration) var(--transition-timing-function);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: var(--color-button-hover);
}

.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

/* Portfolio */
.portfolio {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-section__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio-section__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio-section__button {
  color: var(--primary-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-bgr-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: color var(--transition-duration) var(--transition-timing-function), background-color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

@media screen and (max-width: 380px) {
  .portfolio-section__button {
    padding: 4px 10px;
  }
}

.portfolio-section__button:hover, .portfolio-section__button:focus {
  color: var(--accent-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section__button--current {
  color: var(--accent-white-color);
  background-color: var(--accent-color);
}

.projects__container {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .projects__container {
    margin-bottom: 94px;
  }
}

.projects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
}

.projects__list {
  margin-bottom: 30px;
  background-color: var(--accent-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__list {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) /2);
        flex-basis: calc((100% - 30px) /2);
  }
  .projects__list:nth-child(2n) {
    margin-right: 0;
  }
  .projects__list:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .projects__list {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) /3);
        flex-basis: calc((100% - 60px) /3);
  }
  .projects__list:nth-child(3n) {
    margin-right: 0;
  }
  .projects__list:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.projects__link {
  text-decoration: none;
  display: block;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function), -webkit-box-shadow var(--transition-duration) var(--transition-timing-function);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Card-thumb*/
.card-thumb {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .card-thumb__img {
    width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .card-thumb__img {
    width: 370px;
  }
}

.card-thumb__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--accent-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: -webkit-transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  transition: transform var(--transition-duration) var(--transition-timing-function), -webkit-transform var(--transition-duration) var(--transition-timing-function);
}

.projects__link:hover .card-thumb__card-overlay,
.projects__link:focus .card-thumb__card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-thumb__text-card {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
}

.project-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-top: transparent;
  border-right: 1px solid var(--bgr-color-projects);
  border-bottom: 1px solid var(--bgr-color-projects);
  border-left: 1px solid var(--bgr-color-projects);
}

.project-card__title {
  margin: 0;
  margin-bottom: 4px;
}

.project-card__text {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */