/* Постоянные клиенты */

.client__title {
    margin-bottom: 30px;
    text-align: center;
    color: var(--primary-text-color);

    @include fonts (700, 36px, 1.17);

    @media screen and(min-width: 1200px) {
        margin-bottom: 50px;
    }

}

.client__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: -15px;
}

.client__item {
    margin: 15px;
    align-items: center;
    justify-content: center;

    @media screen and(max-width:767px) {
        flex-basis: calc(100% / 2 - 30px);
    }
}


.client__link {
    display: flex;
    color: var(--fill-icon);

    border: 1px solid var(--border-icon);
    border-radius: 4px;
    
    // width: 210px;
    width: calc(100%/2 -30px);
    height: 92px;
    cursor: pointer;

    @media screen and(min-width: 768px){
        width: 226px;
    }

    @media screen and(min-width: 1200px){
        width: 170px;
    }

    align-items: center;
    justify-content: center;
    transition: color var(--transition-duration) var(--transition-timing-function),
        border var(--transition-duration) var(--transition-timing-function);


    &:hover,
    &:focus {
        color: var(--fill-bgr-hover);
        border: 1px solid var(--fill-bgr-hover);
    }
}

.client__icon {
    align-items: center;
    justify-content: center;
    fill: currentColor;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}