/* Особенности компании */

.feature__caption {
    color: var(--primary-text-color);
}


.feature__list .feature__item:not(:last-child) {
    margin-right: 30px;
}

.feature__list .feature__text {
    color: var(--title-text-color);
    line-height: 1.71;

    width: 270px;
}

.feature__title {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}


.feature__icon {
    display: flex;
    padding: 25px 100px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-color: var(--secondary-bgr-color);
    align-items: center;
    justify-content: center;
}
