/* Наша команда */


.team {
    background-color: var(--secondary-bgr-color);

    &__caption {
        margin-bottom: 30px;

        @media screen and(min-width:1200px) {
            margin-bottom: 50px;
        }
    }

    &__list {
        list-style: none;
        margin: 0;

        @media screen and(min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
        @media screen and(min-width: 1200px) {
            display: flex;
        }
    }
}


.team__item {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and(max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }

    }

    // &:not(:last-child) {
    //     margin-bottom: 30px;
    // }

    @media screen and (min-width: 768px) {
        margin: 15px;
        // width: calc((100% - 4 * 15px) / 2);
        width: calc(100% /2 - 30px);
    }
    @media screen and (min-width: 1200px) {
        margin: 0;
        &:not(:last-child) {
                    margin-right: 30px;
                }
    }
    // @media screen and (min-width: 768px){
    //     &:not(:last-child) {
    //         margin-right: 30px;
    //     }
    // }
    }
   

.team__item--img {
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
    }
}

.team-members {
    padding-top: 30px;
    padding-bottom: 24px;
    // height: 162px;
    text-align: center;
    // height: 168px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--accent-white-color);
    @media screen and(max-width: 1199px) {
        height: 162px;
    }
    @media screen and(min-width: 1200px) {
        padding: 30px 0;
        height: 168px;
    }

   


    &__title {
        margin-bottom: 10px;

        color: var(--primary-text-color);

        @include fonts (500, 16px, 1.19);
    }

    &__text {
        color: var(--title-text-color);
        font-size: 16px;
        line-height: 1.19;

        margin-bottom: 16px;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // &__item:not(:last-child) {
    //     margin-right: 10px;
    // }

}


.team-members__link {

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--fill-icon);

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        background-color: var(--fill-bgr-hover);
        color: var(--fill-hover-color);
    }
}

.team-members__icon {
    fill: currentColor;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}